@import "CSS/css/testimonials-section/_variable.scss";
#testimonials-section {
    .mb-5 {
        .text-center {
            h3 {
                font-size: 13px;
                margin-bottom: 8px;
                color: $h3color;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: .2em;
            }
            h2 {
                font-size: 40px;
                margin-bottom: 16px;
                color :$textcolor;
                line-height: 1.2;
                font-weight: 900;
            }
        }
    }
    .slide-one-item {
        .testimonial {
            text-align: center;
            margin: 0px 202.4px;
            figure.mb-4 {
                max-width: 200px;
                .w-100 {
                    width: 100%;
                    border-radius: 50%;
                    margin-bottom: 16px;
                    margin: auto;
                }
            }
            .mb-3 {
                font-size: 24px;
                font-style: italic;
                margin-bottom: 16px;
                color: $pcolor;
                margin-left:120px;
                margin-right: 120px;
            }
            .text-black{
                color: $textcolor;
                margin-bottom: 16px;
            }
        }
    }
}