@import "CSS/css/inner-page-cover/_variable.scss";
.inner-page-cover {
    background-color: #00000066;
    .justify-content-center {
        display:flex;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
        form {
            margin: auto;
            margin-top:100px;
            margin-bottom: 100px;
            padding:0px 15px;
            color:$pcolor;
            font-size:16px;
            display: block;
            max-width: 36%;
            h2 {
                color:$h2color;
                font-size:28px;
                font-weight: 400;
                line-height: 1.7;
                margin: 0px 0px 30px;
                .d-flex {
                    display: flex;
                    input {
                        .form-control.rounded-0 {
                            background-color: none;
                            border: solid 2px $bgcolorone;
                        }
                    }
                }
            }
            p {
                margin: 0px 0px 16px;
                font-size:16px;
                color:$h2color;
                font-weight: 340;
            }
        }
    }
}