@import "CSS/css/bg-light/_variable.scss";
.bg-light {
    padding: 80px 0px;
    .justify-content-center {
        display:flex;
        width:36%;
        margin: auto;
        h3 {
            color: $h3color;
            font-size: 16px;
            margin: 0px 0px 8px;
            text-transform: uppercase;
        }
        h2 {
            color: $textcolor;
            font-size:40px;
            margin:0px 0px 16px;
            font-weight: 760;
            line-height: 1.7;
        }
        p {
            color:$pcolor;
            font-size: 16px;
            margin:0px 0px 16px;
            text-align: center;
        }
    }
    .bg-white {
        padding-top:24px;
        padding-bottom: 24px;
        margin: 0px 200px 24px 200px;
       .mx-4 {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
            .mb-5 {
                flex:0 0 50%;
                padding-left:15px;
                padding-right:15px;
                max-width: 50%;
            }
            
            .ml-auto  {
                flex:0 0 42%;
                padding-left:15px;
                padding-right:15px;
                margin-left: 74px;
                span {
                    font-weight: 900;
                    font-size: 108px;
                    color:$numbercolor;
                    .number {
                        position: absolute;
                        z-index:-1;
                    
                    }
                }
                h3 {
                    color: $textcolor;
                    font-size: 28px;
                    margin: 0px 0px 24px;
                    margin-top: -110px;
                }
                p {
                    color: $pcolor;
                    font-size: 16px;
                    margin: 0px 0px 16px;
                    .mb-4 {
                        margin: 0px 0px 8px;
                    }
                }
                .mb-4 {
                    h3 {
                        margin: 0px 0px 8px;
                        font-size: 20px;
                    }
                    .price {
                        color: $pcolor;
                        .mr-2 {
                            margin: 0px 8px 0px 0px;
                            color:$h3color;
                        }
                    }
                }
                p {
                    margin: 0px 0px 16px;
                    a.btn {
                        text-transform: uppercase;
                        border : solid 2px $textcolor;
                        font-size:12px;
                        font-weight: 900;
                        padding: 6px 20px;
                    }
                    a.btn-outline-black {
                        color : $textcolor !important;
                        background-color: $textcolorone !important;
                        &:hover {
                            color : $textcolorone !important;
                            background-color: $textcolor !important;
                        }
                    }
                    a.d-lg-inline-block {
                        background-color: $textcolor;
                        color:$textcolorone;
                        &:hover {
                            background-color: $textcolorone;
                            color:$textcolor;
                        }
                    }
                }
            }
            .order-1 {
                flex:0 0 42%;
                padding-left:15px;
                padding-right:15px;
                margin-left: 74px;
            }
            .order-2 {
                flex:0 0 50%;
                padding-left:15px;
                padding-right:15px;
                max-width: 50%;
                span {
                    font-weight: 900;
                    font-size: 108px;
                    color:$numbercolor;
                    .number {
                        position: absolute;
                        z-index:-1;
                    
                    }
                }
                h3 {
                    color: $textcolor;
                    font-size: 28px;
                    margin: 0px 0px 24px;
                    margin-top: -110px;
                }
                p {
                    color: $pcolor;
                    font-size: 16px;
                    margin: 0px 0px 16px;
                    .mb-4 {
                        margin: 0px 0px 8px;
                    }
                }
                .mb-4 {
                    h3 {
                        margin: 0px 0px 8px;
                        font-size: 20px;
                    }
                    .price {
                        color: $pcolor;
                        .mr-2 {
                            margin: 0px 8px 0px 0px;
                            color:$h3color;
                        }
                    }
                }
                p {
                    margin: 0px 0px 16px;
                    text-transform: uppercase;
                    a.btn {
                        border : solid 2px $textcolor;
                        font-size:12px;
                        font-weight: 900;
                        padding: 6px 20px;
                    }
                    a.btn-outline-black {
                        color : $textcolor !important;
                        background-color: $textcolorone !important;
                        &:hover {
                            color : $textcolorone !important;
                            background-color: $textcolor !important;
                        }
                    }
                    a.d-lg-inline-block {
                        background-color: $textcolor;
                        color:$textcolorone;
                        &:hover {
                            background-color: $textcolorone;
                            color:$textcolor;
                        }
                    }
                }
            }
        }
    }
}